
	body{
		background-color:lightcyan;
		font-family: 'Segoe UI',Tahoma,Geneva,sans-serif;
		margin:0;
		padding:0;
	}
	
	.container{
		max-width:600px;
		margin:20px auto;
		background-color: white;
		border-radius: 10px;
		box-shadow: 5px 5px 2px 5px rgba(0,0,0,0.1);
		/*x_skew,y_skew,blur_size,spread,color,inset/(outside)*/
		padding: 20px;
		/*box size between words and box(inner), this use for box*/
	}
	
	.header{
		text-align:center;
		margin-bottom:20px;
		/*the above is inner, this is outter, this use for words*/
		color:darkblue;
	}
	
	.todo-form{
		display:flex;
		align-items:center;
		/* align start from where*/
		margin-bottom:20px;
	}
	
	.todo-input{
		flex:1;
		/*is short form of flex-grow, define ratio of items*/
		padding:10px;
		border:none;
		border-radius:5px;
		/*set the box corner with 1/4 circle with radius*/
		box-shadow:0 2px 4px rgba(0,0,0,0.1);
	}
	
	.todo-button{
		padding: 10px 20px;
		border:none;
		border-radius: 5px;
		background-color:#3f51b5;
		font-weight:bold;
		color:white;
		cursor:pointer;
		/*change the cursor when put on the button*/
	}
	
	.todo-list{
		list-style:none;
		/*create a list*/
		padding:0;
	}
	
	.todo-item{
		display:flex;
		align-items:center;
		padding:10px;
		border-radius:5px;
		margin-bottom:10px;
		background-color:white;
		box-shadow:0 2px 5px rgba(0,0,0,0.1);
	}
	
	.todo-item:last-child{
		/*last item*/
		margin-bottom:10px;
	}
	
	.todo-item-checkbox{
		margin-right:10px;
	}
	
	.todo-item-text{
		flex:1;
		color:#3f51b5;
		font-weight:bold;
	}

.todo-item-delete {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #ff3737;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
	/*CSS property transition smoothly over a period of time*/
}
	
	.todo-item-delete:hover{
		background-color:#ff3737;
	}
	
