#container {
    width:100%
}

#header {
    background-color:#FFA500;
}
h1 {
    margin-bottom:0;
}

#menu {
    background-color:#FFD700;
    height:600px;
    width:20%;
    float:left;
}

#content {
    background-color:#EEEEEE;
    height:600px;
    width:80%;
    float:left;
}

#footer {
    background-color:#FFA500;
    clear:both;
    text-align:center;
}